<footer class="site-footer">

  <div class="wrapper">

     <h2 class="footer-heading">{{ site.title }} {{ site.subtitle_en }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% include icon-email.html email=site.email %}
          </li>
          {% if site.phone %}
          <li>
            {% include icon-phone.html phone=site.phone %}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
      <div class="footer-col footer-col-3">
         <p>© 2015 SetTrans Translation Services</p>
      </div>
    </div>

  </div>

</footer>
