/**
 * Site header
 */

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.site-header {
    border-top: 5px solid $red-color-dark;
    min-height: 46px;
    z-index: 1;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: "Pacifico";
    font-size: 30px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: -3px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1);
    color: $red-color-dark;
    float: left;

    &,
    &:visited {
        color: #8B0000;
    }
    @include media-query($on-palm) {
       line-height: 45px;
    }
}

.site-subtitle-en {
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    line-height: 2px;
    letter-spacing: 1px;
    margin-top: -4px;
    margin-left: 5px;
    color: rgba(255,255,255,0.8);
    float: left;
    
    @include media-query($on-palm) {
       display: none;
    }
}

.site-subtitle-id {
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    line-height: 2px;
    letter-spacing: 1px;
    margin-top: -18px;
    margin-left: 15px;
    color: rgba(255,255,255,0.5);
    float: left;
    
    @include media-query($on-palm) {
       display: none;
    }
}

.home {
   text-align: center;
   text-shadow: 1px 1px 45px rgba(255,255,255,0.5);
}

.content-en {
   line-height: 2.2;
   display: block;
}

.content-id {
   line-height: 2.2;
   display: none;
}

.playfair {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;    
    color: rgba(255,255,255,0.8);
    text-shadow: 1px 1px 5px rgba(0,0,0,0.2);

    @include media-query($on-palm) {
      font-size: 18px;
    }
 }

.playfair-404 {
    font-family: "Playfair Display";
    font-size: 110px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    color: $grey-color-dark;
    margin-top: -420px;
    line-height: 90px;

    @include media-query($on-laptop) {
       font-size: 65px;
       margin-top: -290px;
       line-height: 55px;
    }

    @include media-query($on-palm) {
       font-size: 65px;
       margin-top: -290px;
       line-height: 55px;
    }
 }

.playfair-sorry {
    font-family: "Playfair Display";
    font-size: 24px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    color: $grey-color-dark;
    margin-top: 60px;
    margin-bottom: -30px;

    @include media-query($on-palm) {
       font-size: 16px;
       margin-top: 40px;
    }
 }

.rimage {
   width: 40%;
   height: 40%;
   margin-left: 40px;
   text-align: center;
   float: right;

   img {
      max-width: 100%;
      max-height: 100%;
   }

   @include media-query($on-palm) {
      width: 100%;
      height: 20%;
   }
}

.limage {
   width: 40%;
   height: 40%;
   margin-right: 40px;
   text-align: center;
   float: left;

   img {
      max-width: 100%;
      max-height: 100%;
   }

   @include media-query($on-palm) {
      width: 100%;
      height: 20%;
   }
}

.rtext {
   width: 40%;
   height: 40%;
   margin-left: 40px;
   margin-right: 3%;
   float: right;

   p {
      padding: 2%;
   }

   @include media-query($on-palm) {
      width: 100%;
      height: 40%;
      font-size: 14px;
   }
}

.ltext {
   width: 40%;
   height: 40%;
   margin-right: 40px;
   margin-left: 3%;
   float: left;

   @include media-query($on-palm) {
      width: 100%;
      height: 40%;
      font-size: 14px;
   }
}

.section {
   padding: 5% 12%;
   color: white;

   @include media-query($on-palm) {
      padding: 2% 5%;
   }
}

.shadow-night {
   background: #000000;
   background: -webkit-linear-gradient(to top left, #000000 , #53346D);
   background: linear-gradient(to top left, #000000 , #53346D);
}

.mirage {
   background: #16222A; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }

.parklife {
   background: #3D7EAA; /* fallback for old browsers */
   background: -webkit-linear-gradient(to top left, #3D7EAA , #FFE47A); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top left, #3D7EAA , #FFE47A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.light-orange {
   background: #FFB75E; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.turquoise-flow {
   background: #136a8a; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.burlywood {
   color: #DEB887;
}

.olivedrab {
   color: #6B8E23;
}

.lawngreen {
   color: #7CFC00;
}

.royalblue {
   color: #4169E1;
}

.tan {
   color: #D2B48C;
}

.crimson {
   color: #DC143C;
}

.darkgoldenrod {
   color: #B8860B;
}

.salmon {
   color: #FA8072;
}

.rebeccapurple {
   color: #663399;
}

.slategray {
   color: #708090;
}

.slategraybg {
   background-color: #D2B48C;
}

.darkslateblue {
   color: #483D8B;
}

.darkgraybg {
   background: #232526; /* fallback for old browsers */
   background: -webkit-linear-gradient(to top left, #131516 , #313335); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top left, #131516 , #313335); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.darkred {
   color: #8B0000;
}

#lang-button {
  float: right;
  margin-top: -40px;
  margin-left: 15px;
  background: $red-color-dark;
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  border: 1px solid $red-color-dark;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  box-shadow: 0px 1px 3px rgba(255,255,255,0.25);

  .short {
     display: none;
  }
   
  @include media-query($on-palm) {
     top: 0px;
     right: 50px;
     margin-top: 12px;
     margin-right: 50px;
     position: absolute;
     right: $spacing-unit / 2 + 1%;
     .long {
        display: none;
     }

     .short {
        display: block;
     }
  }
}

#lang-button:hover {
  background-color: white;
  color: $red-color-dark;
}

#lang-button:active {
  box-shadow: none;
}

.site-nav {
    float: right;
    line-height: 56px;
    margin-top: -20px;
    margin-bottom: -10px;
    z-index: 1;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: rgba(255,255,255,0.8);
        line-height: $base-line-height;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.1);

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
           margin-right: 49px;
        }
    }

    @include media-query($on-palm) {
        margin-top: 5px;
        position: absolute;
        top: 0px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: #2e3436;
    z-index: 900;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    color: $grey-color-light;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(40% - (#{$spacing-unit} / 2));
        width:         calc(40% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(60% - (#{$spacing-unit} / 2));
        width:         calc(60% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    position: relative;
    min-height: 49%;

    @include media-query($on-palm) {
       min-height: 38%;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
