/**
 * Site header
 */

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.site-header {
    border-top: 5px solid $red-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: "Pacifico";
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -3px;
    margin-bottom: 0;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1);

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-subtitle-en {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    line-height: 2px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    margin-left: 40px;
    float: left;
}

.site-subtitle-id {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    line-height: 2px;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-left: 50px;
    color: $grey-color-light;
    float: left;
}

.playfair {
    font-family: "Playfair Display";
    font-size: 20px;
    letter-spacing: 1px;    
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
    color: $grey-color-dark;

    @include media-query($on-palm) {
      font-size: 18px;
      text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    }
 }

.playfair-404 {
    font-family: "Playfair Display";
    font-size: 110px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    color: $grey-color-dark;
    margin-top: -420px;
    line-height: 90px;

    @include media-query($on-laptop) {
       font-size: 65px;
       margin-top: -290px;
       line-height: 55px;
    }

    @include media-query($on-palm) {
       font-size: 65px;
       margin-top: -290px;
       line-height: 55px;
    }
 }

.playfair-sorry {
    font-family: "Playfair Display";
    font-size: 24px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    color: $grey-color-dark;
    margin-top: 60px;
    margin-bottom: -30px;

    @include media-query($on-palm) {
       font-size: 16px;
       margin-top: 40px;
    }
 }

.site-nav {
    float: right;
    line-height: 56px;
    margin-top: -40px;
    z-index: 1;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.1);

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
           margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        margin-top: 10px;
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: #2e3436;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    color: $grey-color-light;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(40% - (#{$spacing-unit} / 2));
        width:         calc(40% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(60% - (#{$spacing-unit} / 2));
        width:         calc(60% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    position: relative;
    padding: $spacing-unit 0;
    min-height: 49%;

    @include media-query($on-palm) {
       min-height: 38%;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

#lang-button {
  float: right;
  margin-top: 5px;
  margin-left: 15px;
  background: $red-color-dark;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  border: 1px solid $red-color-dark;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;

  .short {
     display: none;
  }
   
  @include media-query($on-palm) {
     .long {
        display: none;
     }

     .short {
        display: block;
     }
  }
}

#lang-button:hover {
  background: none;
  color: $red-color-dark;
}

.content-en {
   display: block;
}

.content-id {
   display: none;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
